@model IEnumerable<ClassDemo.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eat From Your Favourite Restro!!!!</h1>
    <b>On One Click & Get Amazing Offers &#128516;</b>
    @*<div>There are @Enumerable.Count(Model) Restaurant</div>*@
<div>Top @Model.Count() Restaurant With Amazing Offers </div>
</div>



